/* ================================================================ */
/* Estils UB propis 
   Els estils nous o que modifiqueu per a les vostres pàgines 
   els heu de definir en aquest full
  -------------------------------------------------------------
  Author: **La vostra unitat** - Universitat de Barcelona
  -------------------------------------------------------------
	Date: 2019-12-20     <- Data de creació (aaa-mm-dd)
	Modified: 2019-12-20 <- Data de modificació (aaa-mm-dd)
  ================================================================= */

/* ================================================================ */
/* ================================================================ */
/*  Els vostres estils, a continuació: */

